<!DOCTYPE html>
<html>
<head>
  <title>TinkApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
<div class="container">
<nav>
		<ul class="nav pull-right">
	<% if user_signed_in? %>
		<li><%= link_to "#{current_user.email}", '#' %></li>
		<li><%= link_to "My Tinks", tinks_path %></li>
		<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
	<% else %>
		<li><%= link_to "Sign up", new_user_registration_path %></li> 
		<li><%= link_to "Sign in", new_user_session_path %></li>
	<% end %>
</ul>
</nav>
</div>
</div>
</header>

<div class="notices">
	<% if notice %>
 		<div class="notice"><%= notice %></div>
	<% end %>

 	<% if alert  %>
 		<div class="alert">
 			<%= alert %>
 		</div>
 	<% end  %>
</div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
